<%- include('./partials/header')%>

<%- include('./partials/nav')%>
<div id="back" class="d-flex justify-content-start align-items-center py-3">
   <a href="/library" class="text-decoration-none text-dark">
    <i class="ri-arrow-left-line fs-2 ps-4"></i>
   </a>
<h3 class="px-3">Book Details</h3>
</div>

<div id="detail" class="d-flex justify-content-center align-items-start">
        <div id="img-btn" class="w-25 d-flex flex-column justify-content-center align-items-center p-4 ">
            <img src="<%= book.file %>" style= "height: 30vh; object-fit: cover; object-position: center;">
            <div class="date-time ">
                <small>Created At- <%= book.createdAt.toLocaleTimeString() %></small> 
            <small><%= book.createdAt.toLocaleDateString() %></small> 
            </div>
            <a href="/update/<%= book._id%>" class="btn btn-primary w-100 mt-3">Update Book</a>

        </div>
        
        <div id="details" class="w-75 p-3">
            <h1><%= book.bookname %></h1>
            <p class="fw-medium">ISBN- <%= book.isbn %></p>
            <p class="fw-medium">Author Name- <%= book.author %></p>
            <p><%= book.desc %></p>
            <h3 class="text-success">Price ₹<%= book.price %></h3>
            
        </div>
    
       
       
</div>

<%- include('./partials/footer')%>
